@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roobert Regular";
  src: url("/Roobert-Regular/Roobert-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Cobaissi";
  src: url("/fonts/Cobaissi-Font/COBAISSI.ttf") format("truetype");
}

@font-face {
  font-family: "Aquatico";
  src: url("/fonts/Aquatico-Font/Aquatico-Regular.otf") format("opentype");
}

.Aquatico {
  font-family: "Aquatico", "Cobaissi", "roobert", inter;
}

.Cobaissi {
  font-family: "Cobaissi";
}

.roobert {
  font-family: "roobert", inter;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.max-container {
  @apply w-[95%] mx-auto;
}

.max-padding {
  @apply pt-14 md:pt-8;
}

.trendy-plant-bg {
  background-image: url("/img/trendy-plant-bg.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.bg-blur {
  backdrop-filter: blur(5px);
}

/* Blog background  */
.blog-bg {
  background-image: url("/img/blog-bg.webp");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.ql-editor {
  font-size: 1.05rem;
}

.post-content p {
  margin-bottom: 0.5rem;
}

.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content h2 {
  font-size: 1.4rem;
  font-family: sans-serif;
  margin: 1.5rem 0;
}

.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}

.post-content a:hover {
  text-decoration: underline;
}
